In [5]:
import pandas as pd
import json
from collections import Counter

In [6]:
with open("../data/kan/kan_train.json") as fob:
    data = [json.loads(x) for x in fob.read().strip().split("\n")]
df = pd.DataFrame(data)
df

,unique_identifier,native word,english word,source,score
0,kan1,ಹರಿಯುತ್ತಿತ್ತು,hariyuttittu,Dakshina,NaN
1,kan2,ಅಸಾಮಾನ್ಯ,asaamanya,Dakshina,NaN
2,kan3,ಕ್ಯಾಮರಾಗಳಲ್ಲಿ,cameragalalli,Dakshina,NaN
3,kan4,ಸಂಶೋಧನೆಯನ್ನು,samshodhaneyannu,Dakshina,NaN
4,kan5,ಸೋಮನಾಥ,soomanaatha,Dakshina,NaN
...,...,...,...,...,...
2906723,kan2906724,ಕುಂದಾದ್ರಿ,kundadri,IndicCorp,-0.116757
2906724,kan2906725,ಕ್ಯಾಮೆರಾಗನ್ನು,cameragonnu,IndicCorp,-0.152978
2906725,kan2906726,ಮದ್ಯದಂಗಡಿಯತ್ತ,madyadangadiyatta,IndicCorp,-0.070898
2906726,kan2906727,ಆದಾಯತೆರಿಗೆಯನ್ನು,aadaayaterigeyannu,IndicCorp,-0.041626
2906727,kan2906728,ಪಾರ್ಟಿಗೋ,partigo,IndicCorp,-0.095458

In [14]:
counters = Counter(''.join(list(df['native word'])))

In [16]:
for c in counters.most_common():
    print(c, ord(c[0]))

('್', 3259394) 3277
('ಿ', 2902907) 3263
('ರ', 1974191) 3248
('ದ', 1871007) 3238
('ು', 1772546) 3265
('ಾ', 1726413) 3262
('ಗ', 1389856) 3223
('ೆ', 1344041) 3270
('ಲ', 1329974) 3250
('ನ', 1316658) 3240
('ತ', 1306058) 3236
('ವ', 1252274) 3253
('ಕ', 1152519) 3221
('ಸ', 1011256) 3256
('ಯ', 917403) 3247
('ಂ', 905844) 3202
('ಳ', 633194) 3251
('ಮ', 604021) 3246
('ಪ', 536520) 3242
('ಡ', 494178) 3233
('ಬ', 488662) 3244
('ಟ', 453706) 3231
('ೇ', 413313) 3271
('ೊ', 391283) 3274
('ಹ', 373723) 3257
('ೋ', 276902) 3275
('ೂ', 261396) 3266
('ಜ', 207170) 3228
('ಚ', 204752) 3226
('ಶ', 191447) 3254
('ಣ', 177731) 3235
('ಅ', 168304) 3205
('ಷ', 159876) 3255
('ೀ', 154200) 3264
('ಧ', 127108) 3239
('ಭ', 116868) 3245
('ೈ', 82452) 3272
('ಆ', 78898) 3206
('ಥ', 63089) 3237
('ಫ', 53438) 3243
('ಎ', 51555) 3214
('ಉ', 49471) 3209
('ಖ', 46466) 3222
('ೃ', 46113) 3267
('ಇ', 46089) 3207
('ೌ', 35643) 3276
('ಒ', 31408) 3218
('ಘ', 19190) 3224
('ಠ', 13611) 3232
('ಞ', 10630) 3230
('ಏ', 9659) 3215
('ಓ', 6062) 3219
('ಛ', 5643) 3227
('ಐ', 4622) 3216
('ಈ', 4294) 3208
('ಢ', 4171) 3234
('ಊ', 3428) 3210
('ಃ', 2484) 3203
('ಔ', 1695) 3220
('ಋ', 1218) 3211
('ಝ', 1106) 3229
('಼', 1) 3260

In [19]:
sorted([ord(c[0]) for c in counters])

[3202,
 3203,
 3205,
 3206,
 3207,
 3208,
 3209,
 3210,
 3211,
 3214,
 3215,
 3216,
 3218,
 3219,
 3220,
 3221,
 3222,
 3223,
 3224,
 3226,
 3227,
 3228,
 3229,
 3230,
 3231,
 3232,
 3233,
 3234,
 3235,
 3236,
 3237,
 3238,
 3239,
 3240,
 3242,
 3243,
 3244,
 3245,
 3246,
 3247,
 3248,
 3250,
 3251,
 3253,
 3254,
 3255,
 3256,
 3257,
 3260,
 3262,
 3263,
 3264,
 3265,
 3266,
 3267,
 3270,
 3271,
 3272,
 3274,
 3275,
 3276,
 3277]

In [38]:
0x0C82

3202